
:root{
	--width:0px;
	--heigth:0px;
	--cols: 0;

}
body {
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
  
	background-color: #1c1c1e;
  }
  
  #gallery {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	max-width: calc(var(--width) * var(--cols));
  }
  
  .video-container {
	width: var(--width);
	height: var(--height);
	background-color: #1c1c1e;
	position: relative;

  }
  


  video {
	height: 100%;
	width: 100%;

  }

  .video-container video{width:100;display:block;}
  .video-container h1{
	  position: absolute; ; 
	  left:20%; 
	  top:5%; 
	  font-size: 300%; 
	  color:white;
	   border-radius: 10%;
	   background:rgba(0,0,0,0.5); 
	   background-size: 300% 100%;
  }

  .video-container #mute{
	position: absolute; bottom: 0px; left: 20%; margin: 15px;

  }
 
  #unpublish{
	position: absolute; top:1%;  right: 1% ;
  }

  #Screen{
	position: absolute; top:3%;  right: 1% ;
  }
